.acompany-promo {
  padding-top: 80px;
}

.acompany-promo__wrap {
  border: 1px solid var(--color-light-blue);
}

.acompany-promo__head {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid var(--color-light-blue);
}

.acompany-promo__title {
  max-width: 440px;
  margin-left: 30px;
}

.acompany-promo__dates {
  margin-bottom: 18px;
}

.acompany-promo__btn {
  min-width: 260px;
}

.acompany-promo__info {
  display: flex;
}

.acompany-promo__info .acompany-promo__info-item:not(:last-child) {
  border-left: 1px solid var(--color-light-blue);
}

.acompany-promo__info-item {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid var(--color-light-blue);
}

.acompany-promo__info-item p {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.acompany-promo__icon {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  width: 40px;
  height: 28px;
}

.acompany-promo__icon_1 {
  background: url("../img/icons/icon-plane.svg") 0 center/contain no-repeat;
}

.acompany-promo__icon_2 {
  background: url("../img/icons/icon-user.svg") 0 center/contain no-repeat;
}

.acompany-promo__icon_3 {
  background: url("../img/icons/icon-route.svg") 0 center/contain no-repeat;
}

.acompany-promo__icon_4 {
  background: url("../img/icons/icon-hotel.svg") 0 center/contain no-repeat;
}

.acompany-promo__img {
  margin: 30px;
  height: 430px;
}

.route__head {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-light-blue);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route__title {
  margin-left: 30px;
}

.route__head-desc {
  padding-right: 35px;
  border-right: 1px solid var(--color-light-blue);
  max-width: 290px;
}

.route__body {
  border: 1px solid var(--color-light-blue);
  padding: 30px;
  display: grid;
  grid-template-areas: "desc image" "label image";
  grid-template-columns: 310px 1fr;
  grid-template-rows: auto 1fr;
}

.route__text-desc {
  grid-area: desc;
  margin-bottom: 30px;
  border-right: 1px solid var(--color-light-blue);
  padding-right: 20px;
}

.route__text-label {
  grid-area: label;
  padding-top: 110px;
  font-weight: 400;
  position: relative;
  display: grid;
  align-content: end;
}

.route__text-label::before {
  content: "";
  opacity: 0.7;
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
  background: url("../img/icons/title-arrow.svg") 100% 0/contain no-repeat;
}

.route__map {
  grid-area: image;
  min-height: 400px;
  margin-right: 45px;
}

.days__wrap {
  border: 1px solid var(--color-light-blue);
}

.days__wrap .days__day:not(:last-child) {
  border-bottom: 1px solid var(--color-light-blue);
}

.days__day[open] .days__day-name::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.days__day-head {
  display: block;
  cursor: pointer;
}

.days__day-head::-webkit-details-marker {
  display: none;
}

.days__day-row {
  display: flex;
}

.days__day-head-item {
  border-left: 1px solid var(--color-light-blue);
  min-width: 200px;
  padding: 14px 20px;
  text-align: center;
}

.days__day-name {
  text-align: right;
  position: relative;
  padding-left: 60px;
}

.days__day-name::before {
  content: "";
  position: absolute;
  left: 35px;
  top: calc(50% - 4px);
  width: 0;
  height: 0;
  transition: all 0.2s ease 0s;
  border-top: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  width: 10px;
  height: 10px;
}

.days__day-body {
  border-top: 1px solid var(--color-light-blue);
  padding: 30px;
}

.days__day-text {
  margin-bottom: 40px;
}

.days__images {
  display: flex;
  gap: 30px;
}

.days__image {
  height: 230px;
  flex: 1;
}

.cabins__wrap {
  border: 1px solid var(--color-light-blue);
}

.cabins__head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-blue);
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  gap: 15px;
}

.cabins__title {
  margin-left: 15px;
}

.cabins__head-label {
  padding-right: 15px;
  border-right: 1px solid var(--color-light-blue);
  max-width: 325px;
}

.cabins__list {
  display: flex;
  flex-wrap: wrap;
}

.cabins__list .cabins__item:not(:last-child) {
  border-left: 1px solid var(--color-light-blue);
}

.cabins__item {
  flex: 0 0 33.33%;
}

.cabins__item .card {
  border-left: none;
}

.cabins__item .card__btn {
  min-width: 200px;
  align-self: center;
}

.includes__columns {
  display: flex;
  margin-bottom: 40px;
  border: 1px solid var(--color-light-blue);
}

.includes__column {
  flex: 0 0 50%;
}

.includes__column.yes {
  border-left: 1px solid var(--color-light-blue);
}

.includes__column.yes .includes__item::before {
  background: url("../img/icons/checked.svg") center/contain no-repeat;
}

.includes__column.no .includes__item::before {
  height: 1px;
  background-color: #2699D6;
  position: relative;
  top: 10px;
}

.includes__title {
  padding: 20px 30px;
  border-bottom: 1px solid var(--color-light-blue);
}

.includes__list {
  padding: 30px;
}

.includes__list .includes__item:not(:last-child) {
  margin-bottom: 20px;
}

.includes__item {
  display: flex;
  position: relative;
}

.includes__item::before {
  content: "";
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

.includes__order {
  display: flex;
}

.includes__order-column {
  flex: 0 0 50%;
  padding-left: 30px;
}

.includes__order-text {
  max-width: 465px;
}

.includes__order-btn {
  min-width: 240px;
}

.play-gallery .gallery__img::before {
  display: none;
}

.play-gallery__head {
  border: 1px solid var(--color-light-blue);
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.play-gallery__head::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: var(--color-light-blue);
}

.play-gallery__label {
  max-width: 455px;
  padding: 30px;
  border-right: 1px solid var(--color-light-blue);
}

.guide__title {
  border: 1px solid var(--color-light-blue);
  border-bottom: none;
  padding: 20px 30px;
}

.guide__body {
  display: grid;
  grid-template-areas: "person info" "person text";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 1fr;
  border: 1px solid var(--color-light-blue);
}

.guide__person {
  grid-area: person;
  padding: 30px;
  border-left: 1px solid var(--color-light-blue);
  display: flex;
  flex-direction: column;
}

.guide__name {
  font-size: 22px;
  margin-bottom: 6px;
}

.guide__owner {
  margin-bottom: 14px;
}

.guide__img {
  grid-area: img;
  min-height: 350px;
  width: 310px;
  flex: 1 1 auto;
}

.guide__info {
  display: flex;
}

.guide__info .guide__info-item:not(:last-child) {
  border-left: 1px solid var(--color-light-blue);
}

.guide__info-item {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid var(--color-light-blue);
  padding: 20px;
}

.guide__text {
  grid-area: text;
  padding: 30px;
}

.guide__text p:not(:last-child) {
  margin-bottom: 1em;
}

.order__wrap {
  display: grid;
  grid-template-areas: "title img" "form img";
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  border: 1px solid var(--color-light-blue);
}

.order__title {
  grid-area: title;
  max-width: 280px;
  padding: 20px 30px;
  font-size: 22px;
}

.order__form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  width: 310px;
  padding: 30px;
  border-top: 1px solid var(--color-light-blue);
}

.order__form-label {
  margin-bottom: 15px;
  width: 100%;
}

.order__form-label-title {
  display: block;
  margin-bottom: 6px;
}

.order__form-input {
  border: 1px solid var(--color-blue);
  height: 40px;
  padding: 0 16px;
  color: var(--color-black);
  min-width: 100%;
}

.order__form-btn-submit.main-btn {
  margin-top: 15px;
  width: 100%;
}

.order__img-wrap {
  grid-area: img;
  min-height: 400px;
  border-right: 1px solid var(--color-light-blue);
  padding: 30px;
}

.order__img {
  height: 100%;
}

@media (min-width: 1201px) {
  .play-gallery .gallery__card.active {
    flex: 585px;
  }
}

@media (max-width: 998px) {
  .acompany-promo__btn {
    min-width: auto;
  }

  .acompany-promo__info {
    flex-wrap: wrap;
  }

  .acompany-promo__info .acompany-promo__info-item:nth-child(even) {
    border-left: none;
  }

  .acompany-promo__info-item {
    flex: 0 0 50%;
  }

  .route__map {
    margin-right: 30px;
  }

  .cabins__item .card {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .acompany-promo {
    padding-top: 50px;
  }

  .acompany-promo__head {
    padding: 20px;
  }

  .acompany-promo__head-left {
    display: none;
  }

  .acompany-promo__info-item {
    padding: 15px 20px;
  }

  .acompany-promo__img {
    margin: 20px;
    height: 300px;
  }

  .route__head {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-bottom: none;
    padding-bottom: 0;
  }

  .route__title {
    border-bottom: 1px solid var(--color-light-blue);
    padding-bottom: 8px;
    margin-bottom: 8px;
    width: 100%;
  }

  .route__head-desc {
    font-size: 14px;
    padding-right: 0;
    max-width: auto;
    border-right: none;
  }

  .route__body {
    padding: 20px;
    font-size: 14px;
    grid-template-areas: "desc" "image" "label";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .route__text-desc {
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 40px;
    border-right: none;
    background: url("../img/icons/title-arrow.svg") 0 100%/25px no-repeat;
  }

  .route__text-label {
    padding-top: 0;
  }

  .route__text-label::before {
    display: none;
  }

  .route__map {
    margin-right: 0;
    margin-bottom: 20px;
    min-height: auto;
    height: 260px;
  }

  .days__day-row {
    padding-left: 60px;
    position: relative;
  }

  .days__day-head-item {
    min-width: auto;
    font-size: 14px;
    padding: 10px 10px;
  }

  .days__day-name {
    position: static;
    flex: 0 0 75px;
  }

  .days__day-name::before {
    left: 25px;
  }

  .days__day-region {
    flex: 1 1 auto;
  }

  .days__day-excursion {
    flex: 0 0 80px;
  }

  .days__day-body {
    padding: 30px 20px 20px;
  }

  .days__images {
    flex-direction: column;
    gap: 20px;
  }

  .days__image {
    width: 100%;
    flex: 1 1 auto;
  }

  .cabins__head {
    padding: 20px;
    flex-direction: column;
    align-items: start;
    padding: 0;
    gap: 0;
  }

  .cabins__title {
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-light-blue);
    max-width: auto;
    width: 100%;
  }

  .cabins__head-label {
    padding-right: 0;
    border-right: none;
    padding: 10px 20px;
  }

  .cabins__list {
    flex-direction: column;
  }

  .cabins__list .cabins__item:not(:last-child) {
    border-left: none;
    border-bottom: 1px solid var(--color-light-blue);
  }

  .cabins__item {
    flex: 1 1 auto;
  }

  .includes__columns {
    flex-direction: column;
  }

  .includes__column.yes {
    border-left: none;
    border-bottom: 1px solid var(--color-light-blue);
  }

  .includes__title {
    padding: 10px 20px;
  }

  .includes__list {
    padding: 20px;
  }

  .includes__item {
    font-size: 14px;
  }

  .includes__order {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .includes__order-column {
    padding: 0 20px;
  }

  .includes__order-text {
    font-size: 14px;
  }

  .play-gallery__head {
    padding: 0px;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
  }

  .play-gallery__head::before {
    display: none;
  }

  .play-gallery__title {
    width: 100%;
    border-bottom: 1px solid var(--color-light-blue);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .play-gallery__label {
    border-right: none;
    padding: 0px;
    max-width: none;
    font-size: 14px;
  }

  .guide__title {
    padding: 10px 20px;
  }

  .guide__body {
    grid-template-areas: "info" "person" "text";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-size: 14px;
  }

  .guide__person {
    border-left: none;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  .guide__name {
    font-size: 18px;
  }

  .guide__info {
    flex-direction: column;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-light-blue);
  }

  .guide__info .guide__info-item:not(:last-child) {
    border-left: none;
    margin-bottom: 8px;
  }

  .guide__info-item {
    flex: 1 1 auto;
    text-align: right;
    padding: 0;
    border-bottom: none;
  }

  .guide__text {
    padding: 20px;
    padding-top: 0;
  }

  .order__wrap {
    grid-template-areas: "title" "form" "img";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .order__title {
    max-width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    border-bottom: 1px solid var(--color-light-blue);
  }

  .order__form {
    max-width: 400px;
    margin-left: 0;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    border-top: none;
  }

  .order__img-wrap {
    padding: 20px;
    padding-top: none;
    min-height: auto;
    height: 260px;
  }
}

@media (max-width: 480px) {
  .acompany-promo__info-item p {
    margin-right: 10px;
    font-size: 14px;
  }

  .acompany-promo__img {
    height: 200px;
  }

  .route__map {
    height: 160px;
  }

  .days__image {
    height: 160px;
  }

  .cabins__item .card__btn {
    width: auto;
  }

  .play-gallery .gallery__card.active {
    flex: 220px;
  }

  .guide__img {
    width: 100%;
    min-height: auto;
    height: 320px;
  }

  .order__img-wrap {
    height: 160px;
  }
}